<!DOCTYPE html>
<html class="st-layout ls-top-navbar-large ls-bottom-footer show-sidebar sidebar-l3" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Tracker</title>

    <%= stylesheet_link_tag "application" %>

</head>
<body ng-app="Tracker">

  <div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/">The Iron Yard</a>
      </div>
      <!-- Top Menu Items -->
      <ul class="nav navbar-right top-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i> <%= "#{current_user.name}" %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="http://github.com/<%= @github_info.login %>"><i class="fa fa-fw fa-github"></i> Github Profile</a></li>
            <li class="divider"></li>
            <li><a href="/signout"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
          </ul>
        </li>
      </ul>
      <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li class="avatar">
            <%= image_tag @github_info.avatar_url %>
            <p>
              <% if @current_user.admin %>
                Admin Account
              <% else %>
                Student Account
              <% end %>              
            </p>
          </li>
          <% if @current_user.admin %>
            <li><a href="/#/"><i class="fa fa-fw fa-dashboard"></i> Student List</a></li>
            <li><a href="/#/reports"><i class="fa fa-fw fa-bar-chart-o"></i> </i>Manage Reports</a></li>
            <li><a href="/signout"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
          <% else %>
            <li><a href="/#/"><i class="fa fa-fw fa-dashboard"></i> My Assignments</a></li>
            <li><a href="/#/reports"><i class="fa fa-fw fa-bar-chart-o"></i> Progress Reports</a></li>
            <li><a href="/signout"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div id="page-wrapper">
      <%= yield %>
    </div>

  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
