<!DOCTYPE html>
<html class="st-layout ls-top-navbar-large ls-bottom-footer show-sidebar sidebar-l3" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Tracker</title>

    <%= stylesheet_link_tag "application" %>

</head>
<body ng-app="Tracker">

  <div class="st-container">
      <!-- Fixed navbar -->
      <div class="navbar navbar-size-large navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a href="#sidebar-menu" data-toggle="sidebar-menu" class="toggle pull-left visible-xs"><i class="fa fa-ellipsis-v"></i></a>
                  <div class="navbar-brand navbar-brand-primary navbar-brand-logo navbar-nav-padding-left">
                      <a class="svg" href="/">Atlanta: JS</a>
                  </div>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="main-nav"></div>
              <!-- /.navbar-collapse -->
          </div>
      </div>
      <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
      <div class="sidebar left sidebar-size-3 sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
          <div data-scrollable>
              <div class="sidebar-block">
                  <div class="profile">
                      <a href="#"><%= image_tag @github_info.avatar_url %></a>
                      <h4 class="text-display-1 margin-none"><%= "#{current_user.name}" %></h4>
                  </div>
              </div>
              <ul class="sidebar-menu">
                  <li><a href="/#/"><i class="fa fa-list"></i><span>Assignments</span></a></li>
                  <li><a href="/#/reports"><i class="fa fa-flag"></i><span>Progress Reports</span></a></li>
                  <li><a href="/signout"><i class="fa fa-sign-out"></i><span>Log Out</span></a></li>
              </ul>
          </div>
      </div>
      <div class="st-pusher" id="content">
        <div class="st-content">
          <%= yield %>
        </div>
      </div>
      <!-- <footer class="footer">
          <strong>The Iron Yard</strong> v0.0.1 &copy; Copyright 2015
      </footer> -->
  </div>
  <!-- /st-container -->

  <%= javascript_include_tag "application" %>
</body>
</html>
